@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap");

:root {
    --meter-size-width: 45vh;
    --meter-size-height: 22.3vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
}

.container {
    height: 100vh;
    display: none;
}

.g5-meter {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    width: var(--meter-size-width);
    height: var(--meter-size-height);
}

.panel {
    width: 45vh;
    height: 22.3vh;
    background: #1c1b1f;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 6px;
    box-sizing: border-box;
}

.box {
    background: #36343b;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5vh;
}

.box span {
    position: static;
    font-size: 1.1vh;
    color: rgba(255, 255, 255, 0.85);
    line-height: 1.3;
}

.bottom-row {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
}

#total-price,
#total-price-per-100m,
#total-distance {
    font-weight: bold;
    font-size: 4.1vh;
    letter-spacing: 0.1vh;
}

#total-price {
    color: rgb(64, 160, 64);
}

#total-price-per-100m {
    color: rgb(56, 143, 243);
}

#total-distance {
    color: rgb(255, 153, 57);
}

#total-price-label,
#total-price-per-100m-label,
#total-distance-label {
    font-size: 1.1vh;
    letter-spacing: 0.1vh;
    color: rgba(255, 255, 255, 0.75);
    font-weight: lighter;
    margin-top: 0.3vh;
}

.toggle-meter-btn {
    width: 100%;
    height: 100%;
    background: rgba(46, 46, 46, 0.534);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.1s linear;
    cursor: pointer;
}

.toggle-meter-btn p {
    font-size: 1.4vh;
    color: rgb(231, 30, 37);
    letter-spacing: 0.1vh;
    font-weight: bold;
    font-family: "Exo 2", sans-serif;
}

.toggle-meter-btn:hover {
    background: rgba(66, 66, 66, 0.657);
}
